#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <2 3>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
        };

        plus {
            bindings = <&kp LS(SEMI)>;
            key-positions = <6 7>;
        };

        asta {
            bindings = <&kp LS(SQT)>;
            key-positions = <7 8>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <18 19>;
        };

        shiftSpace {
            bindings = <&kp LS(SPACE)>;
            key-positions = <41 38>;
        };

        lang1 {
            bindings = <&kp LANGUAGE_1>;
            key-positions = <18 41>;
        };

        lang2 {
            bindings = <&kp LANGUAGE_2>;
            key-positions = <41 30>;
        };

        undBar {
            bindings = <&kp LS(INTERNATIONAL_1)>;
            key-positions = <31 30>;
        };

        q {
            bindings = <&kp LS(FSLH)>;
            key-positions = <19 20>;
        };

        eq {
            bindings = <&kp LS(SEMI)>;
            key-positions = <6 7 8>;
        };

        shifttab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        kakko {
            bindings = <&kp LS(N8)>;
            key-positions = <11 13>;
        };

        kakkotoji {
            bindings = <&kp LS(N9)>;
            key-positions = <18 20>;
        };

        kakkojp {
            bindings = <&kp RBKT>;
            key-positions = <11 13 12>;
        };

        kakkotojijp {
            bindings = <&kp BSLH>;
            key-positions = <18 19 20>;
        };

        hennkan {
            bindings = <&kp INTERNATIONAL_4>;
            key-positions = <39 40>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        alt_D_Enter: alt_D_Enter {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT &kp D &kp ENTER>,
                <&macro_release>,
                <&kp LEFT_ALT &kp D &kp ENTER>;

            label = "ALT_D_ENTER";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q        &kp W    &kp E         &kp R         &kp T                                                              &kp Y      &kp U  &kp I      &kp O       &kp P
&mt LCTRL A  &lt 2 S  &lt 3 D       &lt 5 F       &kp G                     &kp LG(C_MUTE)      &to 2                &kp H      &kp J  &lt 4 K    &lt 5 L     &mt RCTRL ENTER
&mt LSHFT Z  &kp X    &kp C         &kp V         &kp B                     &mkp MB1            &kp TAB              &kp N      &kp M  &kp COMMA  &kp PERIOD  &mt RIGHT_SHIFT FSLH
&kp ESCAPE   &none    &kp LEFT_GUI  &kp LEFT_GUI  &mt LALT INTERNATIONAL_4  &lt 1 SPACE         &mt LCTRL LS(SPACE)  &lt 2 TAB                                &kp LS(BACKSPACE)
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9    &kp N0                             &kp F6            &kp HOME        &kp UP_ARROW    &kp LS(END)      &kp DELETE
&trans  &kp N4  &kp N5  &kp N6    &kp DOT  &trans      &none         &kp BACKSPACE     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp TAB
&trans  &kp N1  &kp N2  &kp N3    &kp F12  &trans      &trans        &kp LEFT_BRACKET  &kp F7          &kp F2          &kp F10          &trans
&trans  &trans  &trans  &kp LGUI  &trans   &trans      &kp LEFT_GUI  &kp LG(Z)                                                          &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        NUM {
            bindings = <
&trans  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0                            &kp SEMI          &kp SQT     &kp AMPS    &kp LS(N2)  &kp DEL
&trans  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT       &trans            &to 0   &kp BACKSPACE     &kp EXCL    &kp LS(N6)  &kp HASH    &kp TAB
&trans  &kp KP_N1        &kp KP_N2        &kp KP_N3        &kp K_APP        &trans            &trans  &kp LEFT_BRACKET  &kp LS(N4)  &kp PRCNT   &kp INT2    &trans
&trans  &trans           &trans           &kp C_PP         &kp C_VOL_DN     &kp C_VOL_UP      &trans  &trans                                                &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans         &trans  &trans             &trans                      &trans         &kp F7  &kp F8  &kp F9  &kp F10
&trans  &kp LC(PG_UP)  &trans  &kp LC(PAGE_DOWN)  &trans  &trans      &none   &kp BACKSPACE  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &kp LS(F11)    &trans  &kp RC(N1)         &trans  &trans      &trans  &trans         &kp F1  &kp F2  &kp F3  &kp F12
&trans  &trans         &trans  &trans             &trans  &trans      &trans  &trans                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &kp LC(W)           &kp LC(E)    &kp LC(R)  &mt LC(LS(T)) LC(T)                      &trans         &trans    &kp LS(NUMBER_8)   &kp LS(NUMBER_9)  &trans
&trans  &kp LA(LEFT_ARROW)  &mkp MB1     &mkp MB2   &kp LA(RIGHT_ARROW)  &trans      &none   &kp BACKSPACE  &mkp MB1  &trans             &trans            &trans
&trans  &kp LC(LS(TAB))     &kp LC(TAB)  &kp LC(N)  &alt_D_Enter         &trans      &trans  &trans         &mkp MB2  &kp RIGHT_BRACKET  &kp BACKSLASH     &trans
&trans  &trans              &trans       &trans     &trans               &trans      &trans  &trans                                                        &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        SCROLL {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &kp N0                         &kp F6                &kp HOME        &kp UP_ARROW    &kp END          &kp DELETE
&trans  &kp N4  &kp N5  &kp N6  &kp DOT    &none       &trans  &kp BACKSPACE         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans  &kp N1  &kp N2  &kp N3  &kp K_APP  &trans      &trans  &kp LC(LEFT_BRACKET)  &kp F7          &kp F2          &kp F10          &trans
&trans  &trans  &trans  &trans  &trans     &trans      &trans  &kp LGUI                                                               &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(LS(LA(MINUS))) LC(LA(MINUS))>;
        };
    };
};
