#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        aDE: aDE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(D) &kp ENTER>;
            label = "ADE";
            wait-ms = <0>;
            tap-ms = <0>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt Q ESC         &kp W         &kp E         &kp R             &mt TAB T                                                              &kp Y                 &kp U  &kp I                    &kp O            &mt P MINUS
&mt LCTRL A       &lt 1 S       &lt 2 D       &lt 3 F           &lt 5 G    &kp LG(C_MUTE)                   &to 2                      &kp H                 &kp J  &kp K                    &lt 4 L          &mt RCTRL ENTER
&mt LEFT_SHIFT Z  &mt LC(X) X   &mt LC(C) C   &kp V             &kp B      &mt INT_MUHENKAN LANGUAGE_2      &mt INT_HENKAN LANGUAGE_1  &kp N                 &kp M  &mt RIGHT_BRACKET COMMA  &mt BSLH PERIOD  &mt RIGHT_SHIFT FSLH
&kp BACKSPACE     &kp LEFT_WIN  &kp LEFT_ALT  &mt LEFT_GUI TAB  &mkp MB1   &lt 4 SPACE                      &mt LCTRL SPACE            &mt DELETE BACKSPACE                                                   &kp ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp LEFT_BRACKET  &kp AMPERSAND     &kp LS(N8)        &kp LS(N9)        &kp LS(UNDERSCORE)
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp SINGLE_QUOTE  &kp LS(NUMBER_4)  &kp PERCENT       &kp LS(NUMBER_6)  &kp RIGHT_BRACKET
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp SEMI          &kp EXCLAMATION   &kp LS(NUMBER_2)  &kp HASH          &kp BACKSLASH
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                  &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        NUM {
            bindings = <
&trans  &trans  &trans  &trans  &trans                            &kp MINUS                       &kp NUMBER_7  &mt LS(NUMBER_8) NUMBER_8  &mt LS(NUMBER_9) NUMBER_9  &kp NUMBER_0
&trans  &trans  &trans  &trans  &trans  &kp LG(Z)      &to 0      &kp LS(SEMI)                    &kp NUMBER_4  &kp NUMBER_5               &kp NUMBER_6               &trans
&trans  &trans  &trans  &trans  &trans  &trans         &kp SLASH  &mt LS(EQUAL) LS(SINGLE_QUOTE)  &kp NUMBER_1  &kp NUMBER_2               &kp NUMBER_3               &kp PERIOD
&trans  &trans  &trans  &trans  &trans  &trans         &trans     &kp RS(UNDER)                                                                                       &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &trans  &trans  &trans  &trans                          &trans    &kp LC(PAGE_UP)  &kp UP_ARROW    &kp LC(PAGE_DOWN)  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans      &kp HOME  &kp LEFT_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW    &kp END
&trans  &trans  &trans  &trans  &trans  &trans      &trans      &kp END   &kp LC(LS(TAB))  &kp TAB         &kp LC(TAB)        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp DELETE  &trans                                                        &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&kp LC(N0)        &kp LC(W)            &kp LC(E)              &kp LC(R)                           &mt LC(LS(T)) LC(T)                        &trans  &trans    &trans    &trans    &trans
&kp LS(LC(SEMI))  &kp LC(LS(TAB))      &kp LC(TAB)            &mkp MB1                            &mkp MB2             &mkp MB3      &trans  &trans  &mkp MB1  &mkp MB2  &mkp MB3  &trans
&kp LC(MINUS)     &kp LC(LS(PAGE_UP))  &kp LC(LS(PAGE_DOWN))  &mt LA(RIGHT_ARROW) LA(LEFT_ARROW)  &kp LC(N)            &aDE          &trans  &trans  &trans    &trans    &trans    &trans
&kp ENTER         &kp LA(D)            &trans                 &trans                              &trans               &trans        &trans  &trans                                &trans
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                          &trans  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &trans  &trans  &trans  &kp LC(N0)      &trans  &trans  &kp F4  &kp F5  &kp F6  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans                          &kp F12
            >;
        };
    };
};
